  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="/workouts">Test 1</a></li>
        <li class="tab col s3"><%= link_to "Excercises", exercises_path, class: "active" %></li>
      </ul>
    </div>
  </div>


<h2 class="center">Listing exercises</h2>

<table class="hoverable">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Sets x Reps</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @exercises.each do |exercise| %>
  <tr>
    <td><i class="medium mdi-action-accessibility cyan darken-3 circle" style="color:white;"></i></td>
    <td><%= exercise.name %></td>
    <td><%= exercise.cycles.first.sets%>x<%= exercise.cycles.first.reps%></td>
    <td><%= exercise.description %></td>
    <td><%#= exercise.picture %></td>
    <td><%= link_to 'Show', exercise, class: "waves-effect waves-light btn blue-grey darken-3" %></td>
    <td><%= link_to 'Edit', edit_exercise_path(exercise), class: "waves-effect waves-light btn lime darken-3" %></td>
    <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn pink darken-3" %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Exercise', new_exercise_path, class: "btn cyan darken-3" %>

<script>
 $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>