<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content' style="margin-top: 64px;">
  <li>
    <%= link_to workout_sessions_path, style: "color: #00838f;" do %>
      <span class="mdi-hardware-keyboard-arrow-right left"></span>My sessions
    <%end%>
  </li>
  <li>
    <%= link_to workouts_path, style: "color: #00838f;" do %>
      <span class="mdi-hardware-keyboard-arrow-right left"></span>Workouts
    <%end%>
  </li>
  <li>
    <%= link_to exercises_path, style: "color: #00838f;" do %>
    <span class="mdi-hardware-keyboard-arrow-right left"></span>Exercises
    <%end%>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to statistics_path, style: "color: #00838f;" do %>
      <span class="mdi-av-equalizer left"></span>Statistics
    <%end%>
  </li>
</ul>

<!-- Navbar -->
<div class="navbar-fixed">
  <nav class="cyan darken-3">
    <div class="nav-wrapper">
      <%= link_to root_path do %>
        <div class="brand-logo">
          <i class="mdi-maps-directions-walk right">easy</i>
        </div>
      <% end %>
        <ul id="nav-mobile" class="right">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete  %>
          </li>
          <li class="right">
            <a class='dropdown-button' href='#' data-activates='dropdown1' style="width:200px;">
              <i class="mdi-navigation-menu left"></i>
            </a>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_registration_path%>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>