<!DOCTYPE html>
<html>
<head>
  <title>EasyGym</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/navbar' %>


<% if current_page?('/')%>
  <%= yield %>
<% else %>
<div class="container">
  <%= yield %>
</div>
<% end %>

</body>
</html>

<script>
$(document).ready(function() {
  $('select').material_select();
});
</script>